@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
p,
a,
li,
button {
  color: $lightText;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

body {
  background: $background;
  margin: 0 auto;
}

.container {
  padding: 0 150px;
  margin: 0 auto;
}

//HEADER
.header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 46px;
  position: relative;

  &__logo {
    width: 140px;
    height: 24px;

    &-link {
      display: inline-block;
      height: 100%;
    }
  }
  &__nav {
    padding: 0 50px;

    &-list {
      display: flex;
      align-items: start;

      &-item {
        padding-right: 30px;
      }
      &-item:last-child {
        padding-right: 0;
      }
    }
  }

  &__social {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    align-items: center;

    &-phone {
      padding-right: 45px;
    }
    &-link {
      padding-right: 30px;
    }
    &-link:last-child {
      padding-right: 0px;
    }
  }

  &__txt {
    display: inline-block;
    text-align: left;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    color: $lightText;
    font-weight: 300;
    padding-top: 10px;
    max-width: 140px;
    line-height: 12px;
  }
}

.telegram::before {
  content: url(/dist/assets/telegram.svg);
  width: 20px;
  height: 20px;
}

.viber::before {
  content: url(/dist/assets/viber.svg);
  width: 20px;
  height: 20px;
}

.whatsapp::before {
  content: url(/dist/assets/whatsapp.svg);
  width: 20px;
  height: 20px;
}

header::before {
  content: "";
  background-color: $circleHeader;
  opacity: 0.5;
  display: block;
  width: 260px;
  height: 260px;
  z-index: -1;
  filter: blur(196px);
  position: absolute;
  left: 802px;
  top: -154px;
  z-index: -1;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-image: url(/dist/assets/purpleball.png);
  background-size: cover;
  left: 700px;
  top: 2px;
  z-index: -3;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  width: 83px;
  height: 83px;
  background-size: cover;
  background-image: url(/dist/assets/red_ball.png);
  background-size: cover;
  left: 340px;
  top: 65px;
  z-index: -3;
}

//Main
.section-main {
  padding-top: 90px;
  padding-bottom: 70px;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__first {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &-header {
      display: inline-block;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      width: 360px;
      padding-bottom: 30px;

      &-grad {
        font-weight: 900;
      }
    }
    &-txt {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      display: inline-block;
      max-width: 275px;
    }
  }

  &__second {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    align-items: end;

    &-header {
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      max-width: 290px;
      padding-bottom: 40px;

      &-grad {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
      }
    }

    &-btn {
      @include button;
      margin-top: 60px;
    }
    &-btn:hover {
      box-shadow: 1px 1px 10px rgba(168, 252, 255, 0.3);
    }
  }

  .grad {
    background: $gradientText;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.pref {
  display: flex;
  justify-content: end;

  &-wp {
    max-width: 32%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  &-wp:last-child {
    margin-right: 0;
  }

  &__block {
    margin-bottom: 30px;

    &-head {
      font-size: 18px;
      letter-spacing: 0.05em;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 6px;
      line-height: 21px;
    }

    &-txt {
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }
  &-block:last-child {
    margin-bottom: 0px;
  }
}

.main::before {
  content: "";
  background-color: $circleTxt;
  opacity: 0.5;
  display: block;
  width: 311px;
  height: 311px;
  z-index: -1;
  filter: blur(196px);
  position: absolute;
  left: -120px;
  top: 400px;
}
.main__second::after {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background-size: cover;
  background-image: url(/dist/assets/red_ball.png);
  background-size: cover;
  left: -1px;
  top: 340px;
  filter: blur(2.5px);
}

//FOOTER
.footer-top {
  padding-top: 55px;
  display: flex;
  align-items: flex-start;

  &-head {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;
    color: $darkText;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__list {
    &-item {
      margin-bottom: 10px;

      & > a {
        font-weight: 400;
      }
    }
    &-item:last-child {
      margin-bottom: 0px;
    }
  }

  &__center {
    padding: 0 100px;

    &-nav {
      display: flex;
    }
    &-menu {
      padding-right: 50px;
    }
    &-menu:last-child {
      padding-right: 0px;
    }
  }

  &__end {
    text-align: right;
    margin-left: auto;
    margin-right: 0;

    &-contacts {
      margin: 20px 0;
    }

    &-contact {
      margin-right: 10px;
    }
    &-contact:last-child {
      margin-right: 0px;
    }
  }
}

.footer-bottom {
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;

  &-txt {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  &-link {
    text-decoration: underline;
    margin-top: 5px;
  }
}
