$background:#0E1014;
$accent: #4077F3;

$circleTxt: #961A1A;
$circleHeader: #833AB4;


$lightText: #E4E5EA;
$darkText: #656566;
$gradientText: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;

@mixin button{
    background-color: $accent;
    padding: 21px 35px;
    color: $lightText;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
}